<div>
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="../../../assets/images/maven.png"       alt="maven"       class="tech-image"/>
                <img src="../../../assets/images/spring.png"      alt="spring"      class="tech-image"/>
                <img src="../../../assets/images/spring-boot.png" alt="spring-boot" class="tech-image"/>
                <img src="../../../assets/images/webpack.png"     alt="webpack"     class="tech-image"/>
                <img src="../../../assets/images/npm.png"         alt="npm"         class="tech-image"/>
                <img src="../../../assets/images/bootstrap.png"   alt="bootstrap"   class="tech-image"/>
                <img src="../../../assets/images/bootswatch.png"   alt="bootswatch" class="tech-image"/>
                <img src="../../../assets/images/angular2.png"    alt="angular2"    class="tech-image"/>
            </div>
        </div>
    </div>
</div>